@use 'theme';

$borderRadius: var(--amino-radix-select-border-radius);
$height: var(--amino-radix-select-height);

.selectWrapper {
  position: relative;
  gap: 4px;
  width: auto;

  &.inlineLabel {
    width: fit-content;

    .label {
      color: theme.$amino-text-color-secondary;
      height: auto;
      margin-right: -8px;
      font-weight: 400;
    }
  }
}

.valueWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;

  &[data-placeholder] {
    color: theme.$amino-gray-600;
    font-weight: 400;
    padding: 0px 8px 0px 12px;

    &.hasIcon {
      padding-left: 8px;
    }
  }
}

.selectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  background: theme.$amino-raised-surface-color;
  border-radius: 8px;
  padding: 0px 8px 0px 12px;
  font-size: theme.$amino-font-size-base;
  font-weight: 500;
  line-height: 1;
  gap: 12px;
  cursor: pointer;
  border: none;
  box-shadow: theme.$amino-shadow-select-base;
  width: 100%;
  min-width: min-content;
  height: $height;
  border-radius: $borderRadius;

  &.hasIcon {
    padding-left: 8px;
  }

  &:focus {
    box-shadow: theme.$amino-shadow-select-active;
    outline: none;
  }
  &[data-placeholder] {
    color: theme.$amino-gray-600;
    font-weight: 400;
    padding: 0px 8px 0px 12px;
    gap: 12px;

    &.hasIcon {
      padding-left: 8px;
    }
  }

  &[data-disabled] {
    opacity: theme.$amino-opacity-disabled;
    cursor: not-allowed;
  }
}

.iconWrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  color: theme.$amino-gray-600;
  height: 24px;
  width: 24px;
}

.label {
  font-size: theme.$amino-font-size-base;
  color: theme.$amino-text-color-secondary;
  pointer-events: none;
  height: 24px;
  text-overflow: ellipsis;
}

.selectContent {
  overflow: hidden;
  height: auto;
  gap: 4px;
  background-color: theme.$amino-surface-color;
  box-shadow: theme.$amino-v3-shadow-large;
  border-radius: 10px;
  padding: 4px;
  margin: 2px 0px;
  min-width: var(--radix-select-trigger-width);
  max-width: max-content;
  z-index: 999;
}

.selectItem {
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  align-items: center;
  color: theme.$amino-text-color;
  font-size: theme.$amino-font-size-base;
  font-weight: 400;

  &:hover {
    background-color: theme.$amino-hover-color;

    [data-theme='night'] & {
      background-color: theme.$amino-gray-100;
    }
  }

  &[data-disabled] {
    opacity: theme.$amino-opacity-disabled;
    cursor: not-allowed;
  }

  &[data-state='checked'] {
    color: theme.$amino-blue-600;
    font-weight: 500;

    .optionSecondaryText {
      color: theme.$amino-blue-600;
    }

    .optionIcon {
      color: theme.$amino-blue-600;
    }
  }
}

.optionContent {
  display: flex;
  align-items: center;
  width: 100%;
}

.optionIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: theme.$amino-gray-600;
  margin-right: 12px;
}

.hasError {
  .selectTrigger {
    box-shadow: theme.$amino-shadow-select-error;
  }
}

.helpText {
  margin-top: 4px;
  font-size: theme.$amino-font-size-s;
  color: theme.$amino-text-color;

  &.error {
    color: theme.$amino-error;
  }
}

.optionTextWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.optionLabel {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.optionSecondaryText {
  font-size: theme.$amino-font-size-s;
  color: theme.$amino-text-color-secondary;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
  min-width: 100px;
  text-align: right;
}
